* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-1: 1.4rem;
    --weight-1: 600;
    --color-1: white;
    --bgcolor-1: #211509;
    --bgcolor-2: #f7f3f0;
    --btn-bgcol: #ba935b;
}

nav {
    background-color: var(--bgcolor-1);
}

.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav .container-fluid .navbar-toggler {
    color: #ba935b;
}

nav .container-fluid .navbar-toggler span {
    color: #ba935b;
}

nav .container-fluid ul li {
    font-size: var(--font-1);
    font-weight: var(--weight-1);
}

nav .container-fluid ul li a {
    color: var(--color-1);
}

nav .container-fluid .div a {
    font-weight: var(--weight-1);
    font-size: var(--font-1);
    color: var(--color-1);
}

nav .nav-item a{
    position: relative;
}
nav .nav-item a::after{
    content: '';
    width: 0%;
    height: 2px;  
    background: #f9c06f;
    position: absolute;
    left: 0%;
    bottom: 10%;
    transition: width 0.4s ease;
}
nav .nav-item a:hover::after{
    width: 100%;
}

.page-6{
    padding: 140px 0 50px 0;
}

.page-6 .row2{
    /* border: 1px solid red; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
}
.page-6 .row2 .cartbox{
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    row-gap: 50px;
    background-color: #f7f3f0;
    border-radius: 30px;
    padding: 50px 30px;
}

.page-6 .row2 .box {
/* border: 1px solid green; */
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* padding: 20px; */
    box-shadow: 0 0 5px;
    border-radius: 30px;
}

.page-6 .row2 .box .top {
    /* border: 1px solid red; */
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
    transition: .8s;
}


.page-6 .row2 .box .top img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.page-6 .row2 .box .top .img-1 {
    transition: 1s;
}

.page-6 .row2 .box .top .img-2 {
    transition: 1s;
    /* visibility: hidden; */
    opacity: 0;
}

.page-6 .row2 .box:hover .top {
    /* border-radius: inherit; */
    overflow: hidden;
}

.page-6 .row2 .box:hover .top .img-2 {
    transform: scale(1.1);
    /* border-radius: inherit; */
    /* visibility: visible; */
    opacity: 1;

}
.page-6 .row2 .box .bottom {
    /* border: 1px solid red; */
    grid-area: bottom;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    padding: 0 10px;
}

.page-6 .row2 .box .bottom h4 {
    font-size: 1rem;
    text-align: center;
    color: var(--btn-bgcol);
}
.page-6 .row2 .cartprice{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    row-gap: 40px;

}
.page-6 .row2 .cartprice .cart1 {
    /* border: 1px solid red; */
    
}

.page-6 .row2 .cartprice .cart1 p {
    /* border: 1px solid red; */
    margin: 0;
    font-size: 1.2rem;
    
}
.page-6 .row2 .cartprice .cart2{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.page-6 .row2 .cartprice .cart2 .top p {
    /* border: 1px solid red; */
    margin: 0;
    font-size: 1.2rem;
}
.page-6 .row2 .cartprice .cart2 .bottom{
    display: flex;
    gap: 20px;
}
.page-6 .row2 .cartprice .cart2 .bottom span{
    font-size: 1.5rem;
}
.page-6 .row2 .cartprice .cart2 .bottom button{
    /* border: 1px solid red; */
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: var(--btn-bgcol);
}
.page-6 .row2 .cartprice .cart2 .bottom button:hover{
    box-shadow: 0 0 2px;
}
.page-6 .row2 .right{
    /* border: 1px solid red; */
}
.page-6 .row2 .right button{
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--btn-bgcol);
}
.page-6 .row2 .right button:hover{
    box-shadow: 0 0 2px;
}
.page-6 .row2 .totalprice{
    margin-top: 40px;
}
.page-6 .row2 .totalprice .buy button{
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    background: var(--btn-bgcol);
}
.page-6 .row2 .totalprice .buy button:hover{
    box-shadow: 0 0 5px;
}







/* footer */

footer {
    /* height: 100vh; */
    background: url(../image/banner-2.png) no-repeat center;
    background-size: cover;
}

footer .container1 {
    background-color:#211509e2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    /* border: 1px solid red; */
    gap: 30px;
    position: relative;
    overflow: hidden;
}
footer .container1 img{
    position: absolute;
}
footer .container1 .img1{
    width: 200px;
    left: -3.5%;  
    top: -12%;
    transform: rotate(-120deg);
}
footer .container1 .img2{
    width: 200px;
    right: 0%;
    top: -20%;
}

footer .container1 .box {
    /* border: 1px solid red; */
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

footer .container1 .box h1 {
    line-height: 30px;
    font-size: 1.7rem;
    color: #f9c06f;
}

footer .container1 .box span {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--bgcolor-2);
}

footer .container1 .box input {
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--btn-bgcol);
    border-radius: 20px;
    padding-left: 20px;
    color: var(--btn-bgcol);
}

footer .container1 .box input::placeholder {
    font-weight: 600;
    color: var(--btn-bgcol);
}

footer .container1 .box button {
    width: 40%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    border: 1px solid var(--btn-bgcol);
    color: var(--btn-bgcol);
}

footer .container1 .box button:hover {
    background-color: var(--btn-bgcol);
    color: black;
}

footer .container1 .box2{
    align-items: center;
    gap: 20px;
}
footer .container1 .box2 a{
    text-decoration: none;
    font-size: var(--font-1);
    color: var(--bgcolor-2);
    position: relative;
    
}
footer .container1 .box2 a::after{
    content: '';
    width: 0%;
    height: 2px;  
    background: #f9c06f;
    position: absolute;
    left: 0%;
    bottom: 0%;
    transition: width 0.4s ease;
}

footer .container1 .box2 a:hover::after {
    width: 100%;
}

footer .container1 .box p{
    color: var(--bgcolor-2);
}

footer .container1 .box p:hover {
    color: var(--btn-bgcol);
}

footer .container1 .box .icons {
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
}

footer .container1 .box .icons a {
    font-size: 2rem;
    color: white;
    transition: .8s;
}

footer .container1 .box .icons a:hover {
    transform: translateY(-20px);
    color: var(--btn-bgcol);
}

footer .container1 .foot h5 {
    text-align: center;
    color: #f9c06f;
}


@media all and (max-width:576px) {
    footer .container1 .box {
        text-align: center;
        align-items: center;
    }

    footer .container1 .box button {
        padding: 5px 0;
    }

    footer .foot {
        padding: 20px 10px;
        text-align: center;
    }
}

@media all and (max-width:768px) {
    footer .container1 {
        align-items: start;
    }

    footer .container1 .box {
        /* border: 1px solid  red; */
        height: 20em;
        text-align: center;
        align-items: center;
    }

    footer .container1 .box3 {
        /* gap: 10px; */
        margin-top: -10px;
        height: 30em;
    }

    footer .container1 .box4 {
        /* gap: 10px; */
        margin-top: -10px;
    }

    footer .foot {
        padding: 20px 10px;
        text-align: center;
    }
}
